# Never commit real secrets.
PINATA_JWT=replace_me

# Existing deployed NFT contract on Ethereum mainnet
NEXT_PUBLIC_VOXEL_NFT_ADDRESS=0xC6eb3c79139DFDD09D566Ca0b6e2C4F173E1fbcd
NEXT_PUBLIC_VOXEL_MARKET_ADDRESS=
